.jumbo{ 
    padding: 5rem 1rem;
    margin-bottom: 5rem;
    background-image: url(/images/gh.jpg);
    background-position: center;
    border-radius: .3rem;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;    
} 


.logo{
    padding-left: 10px;
}


.section{
    padding-top: 4rem;
}

#newsletter{
    padding-top: 0;
}

.a{
    text-decoration: none;
    
}

/* Nav bar */
/* .navbar{
    background: green;
} */

.nav-link,
.navbar-brand{
    color: white;
    cursor: pointer;
}

.nav-link{
    margin-right: 1em !important;
}

/* Image after navbar */

/* .header{
    background-image: url(/images/up1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.overlay{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
} */

.nav-link:hover{
color: yellow;
}

.navbar-collapse{
    justify-content: flex-end;
}

/* image body tag */
.description{
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1{
    color: green;
}
.description p{
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: justify;
}

.description button{
    border: 1px solid green;
    background: green;
    border-radius: 3;
    color: white;
}

.description button:hover{
    border: 1px solid white;
    background: white;
    color: green;
}

/* Form for user */

.form{
    margin-top: 10px;
    margin-bottom: 10%;
}
.form h1{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 40px;
}

small {
    margin-bottom: 3%;
}
hr{
    border: 2px solid green;
    margin-top: 0;
}


/* .form-check-input{background-image: url(/up1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    border: none;
} */

/* Another image */
.sect-1{
    background-image: url(/images/up3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.overlay1{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}
.description1{
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}
.description1 h1{
    color: yellow;
}
.description1 p{
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
}
.description1 button{
    border: 1px solid yellow;
    background: yellow;
    border-radius: 3;
    color: white;
}
.description1 button:hover{
    border: 1px solid white;
    background: white;
    color: rgb(202, 202, 7);
}


/* Features */
.features{
    margin: 4em auto;
    padding: 1em;
    position: relative;
    background: white;
}

.feature-title{
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    
}

.features img{
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}


/* footer */

.page-footer{
    background-color: green;
    color: white;
    padding: 60px 0 30px;
}

.footer-copyright{
    color: white;
    padding: 40px 0;
}

 